body {

    justify-content: center;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin: 0px auto;

}

/*-----------------------------
 Bonner-box-decoration- start
------------------------------*/
.the-greatest-show {
    display: flex;
    background-color: navy;
    justify-content: center;
    color: white;
    /* width: 75%; */
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px 55px;
    border-radius: 25px;
    cursor: pointer;

}

/*-------------------- 
        bonner-medea-quary 
   -------------------------- */
@media screen and (max-width: 480px) {
    .the-greatest-show {
        grid-template-colum: repeat(1, 1fr);
        flex-direction: column;

    }



}

@media screen and(min-width:481px) and(max-width:768px) {
    .the-greatest-show {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
}



.the-greatest-show .Brazil-introduction {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;




}

.the-greatest-show p {
    margin-right: 40px;
    font-size: 10px;
    margin-top: 10px;
    height: 150px;
    /* width: 40%; */
    text-align: left;
    word-wrap: break-word;



}

.the-greatest-show img {
    width: auto;
    height: 300px;
    padding: 50px 20px;

}


.the-greatest-show .button {
    display: flex;
    background-color: red;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    margin: 10 0;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    text-align: center;
    cursor: progress;

    transition: width 5s linear;

}

/*@@@@@@@@@@@@@@@@@@ 
        animation-add
     @@@@@@@@@@@@@@@@@@@@*/

.the-greatest-show #animation-button {
    transition: width 5s linear;
}

.the-greatest-show .button :hover {
    width: 200px;




}

/*-----------------------------
  Bonner-box-decoration- End
  ------------------------------*/


/***************************************
   Upcoming-match,group and Blog- Srart 
   **************************************/

.Upcoming-group-blog {
    margin-top: 80px;
    justify-content: center;

    display: flex;
    flex-direction: column;
    background-color: navy;
    height: 250px;
    width: 290px;
    border-radius: 10px;
    padding-right: 10px;


}



@media screen and (max-width: 480px) {
    .six-box-section .Upcoming-group-blog {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column-reverse;

    }
}

@media screen and(min-width:481px) and(max-width:768px) {
    .Upcoming-group-blog {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }

}


nav li {
    list-style: none;
}

nav :hover {
    background-color: indianred;
}



.upcoming-match {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: aliceblue;
    text-decoration: none;
    height: 40px;
    width: 180px;
    margin-bottom: 12px;
    border-radius: 8px;
    font-weight: 700;
    padding: 10px 20px;
    color: black;



}


.group {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: aliceblue;
    text-decoration: none;
    height: 40px;
    width: 180px;
    margin-bottom: 12px;
    border-radius: 8px;
    font-weight: 700;
    padding: 10px 20px;
    color: black;
}

.blog {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: red;
    text-decoration: none;
    height: 40px;
    width: 180px;
    margin-bottom: 12px;
    border-radius: 8px;
    font-weight: 700;
    padding: 10px 20px;
    color: black;


}

/*
***********************************
 Upcoming-match,group and Blog-END
 *********************************/

/*---------------------
   Six-box-section-start 
 ----------------------*/

.six-box-section {
    display: flex;
    margin-bottom: 0%;
}

.six-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 80px;
    height: auto;
    width: 500px;
}



/*--------- six-box-setting -------*/
.six {
    border: 1px solid rgba(128, 128, 128, 0.192);
    height: 350px;
    border-radius: 10px;
    padding: 10px;
    width: 380px;
}

.six .container {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 90px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 90px;

}

#play-details {

    margin-left: 60px;
    text-align: justify;
    margin-top: 80px;
}

#play-details h3 {
    margin-left: 25px;
    font-weight: 300;
}

/*----------------six-box-setting-end-----------*/
@media screen and (max-width: 480px) {
    .six-box {
        grid-template-colum: repeat(1, 1fr);
        flex-direction: column;

    }
}

@media screen and(min-width:481px) and(max-width:768px) {
    .six-box {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }


}


/*----------------------- 
    Six-box-section-End 
---------------------------*/



/*@@@@@@@@@@@@@@@@@@@@@ 
      footer-tag
 @@@@@@@@@@@@@@@@@@@@@@@*/

.footer-section {
    background-color: rgb(21, 2, 58);
    height: 500px;
    width: 100%;

}

@media screen and (max-width: 480px) {
    .footer-section {
        grid-template-colum: repeat(1, 1fr);
        flex-direction: column;

    }
}

@media screen and(min-width:481px) and(max-width:768px) {
    .footer-section {
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
    }
}

hr {
    border: 1px solid rgba(128, 128, 128, 0.466);
}

.footer-section .goal {
    text-align: center;
    margin-top: 10px;
    color: aliceblue;
    padding: 5px 2px;
}

footer .contact-div {
    height: auto;
    width: 100%;
    display: flex;
    gap: 80px;
    color: aliceblue;
    text-align: center;
    margin-left: 250px;
    margin-top: 0%;
    margin-bottom: 280px;

}

.contact-div .div text {
    display: flex;
    align-items: center;
    margin: 10px;
    row-gap: 10px;
    height: auto;
    width: 20px;


}

.social-icon .fa-brands {

    font-size: 3.01em;
    width: 200px;
    margin-left: 250px;
    background-color: azure;
    height: 43px;
    width: 65px;
    align-items: center;
    justify-content: center;


}

/****************** 
      footer-End 
*********************/