body {
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    width: 75%;
    margin: 0px 20px;

}

/*-----------------------------
 Bonner-box-decoration- start
------------------------------*/
.the-greatest-show {
    display: flex;
    background-color: navy;
    box-sizing: 50%;
    color: white;
    width: 80%;
    height: 400px;
    margin-top: 30px;
    margin-left: 280px;
    margin-bottom: 20px;
    padding: 15px 50px;
    border-radius: 25px;
    cursor: pointer;

}

.the-greatest-show .Brazil-introduction {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;



}

.the-greatest-show p {
    margin-right: 40px;
    font-size: 10px;
    margin-top: 10px;
    width: 60%;


}

.the-greatest-show img {
    width: 394px;
}


.the-greatest-show .button {
    display: flex;
    background-color: red;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    margin: 10 0;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    text-align: center;
    cursor: progress;
}

/*-----------------------------
  Bonner-box-decoration- End
  ------------------------------*/


/***************************************
   Upcoming-match,group and Blog- Srart 
   **************************************/

.side-box {



    margin-top: 80px;
    justify-content: center;

    display: flex;
    flex-direction: column;
    background-color: navy;
    height: 250px;
    width: 290px;
    margin-left: 80px;
    border-radius: 10px;
    /* position: sticky; */

}

nav li {
    list-style: none;
}

.upcoming-match {
    display: flex;
    flex-direction: column;
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    background-color: aliceblue;
    text-decoration: none;
    height: 40px;
    width: 180px;
    /* margin-left: 5px; */
    margin-bottom: 12px;
    border-radius: 8px;
    font-weight: 700;
    padding: 10px 20px;
    /* text-decoration: none; */

}


.group {
    display: flex;
    flex-direction: column;
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    background-color: aliceblue;
    text-decoration: none;
    height: 40px;
    width: 180px;
    margin-left: 20px;
    margin-bottom: 12px;
    border-radius: 8px;
    font-weight: 700;
    padding: 10px 20px;
}

.blog {
    display: flex;
    flex-direction: column;

    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: red;
    text-decoration: none;
    height: 40px;
    width: 180px;
    margin-left: 20px;
    /* margin-bottom: 12px; */
    border-radius: 8px;
    font-weight: 700;
    padding: 10px 20px;
    margin-top: 12px;


}

/*
***********************************
 Upcoming-match,group and Blog-END
 *********************************/

/*---------------------
   Six-box-section-start 
 ----------------------*/

.six-box-section {
    display: flex;
    margin-left: 200px;
    margin-bottom: 0%;
}

.six-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 80px;
    height: auto;
    width: 400px;
}


.six {
    border: 1px solid rgba(128, 128, 128, 0.192);
    height: 350px;
    border-radius: 10px;
    padding: 10px;
}

.six .banner button {
    height: 30px;
    width: 95px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}

.six .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 180px;

}

/*----------------------- 
    Six-box-section-End 
---------------------------*/
/*@@@@@@@@@@@@@@@@@@@@@ 
      footer-tag
 @@@@@@@@@@@@@@@@@@@@@@@*/

.footer-section {
    background-color: rgb(21, 2, 58);
    margin-left: 200px;

    height: 500px;
    width: 100%;

}

hr {
    border: 1px solid rgba(128, 128, 128, 0.466);
}

.footer-section .goal {
    text-align: center;
    margin-top: 10px;
    color: aliceblue;
    padding: 5px 2px;
}

footer .contact-div {
    height: auto;
    width: 100%;
    display: flex;
    gap: 80px;
    color: aliceblue;
    text-align: center;
    margin-left: 250px;
    margin-top: 0%;
    margin-bottom: 280px;

}

.contact-div .div text {
    display: flex;
    align-items: center;
    margin: 10px;
    row-gap: 10px;
    height: auto;
    width: 20px;


}

.social-icon .fa-brands {

    font-size: 3.01em;
    width: 200px;
    margin-left: 250px;
    background-color: azure;
    height: 43px;
    width: 65px;
    align-items: center;
    justify-content: center;


}