body {
    font-family: 'Poppins', sans-serif;

}

/*-----------------------------
 Bonner-box-decoration- start
------------------------------*/
.the-greatest-show {
    display: flex;
    background-color: navy;
    box-sizing: 50%;
    color: white;


    width: 1080px;
    height: 400px;
    margin-top: 30px;
    margin-left: 280px;
    padding: 15px 50px;
    border-radius: 25px;
    cursor: pointer;
}

.the-greatest-show .Brazil-introduction {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;



}

.the-greatest-show p {
    margin-right: 40px;
    font-size: 10px;
    margin-top: 10px;
    width: 60%;


}

.the-greatest-show img {
    width: 394px;
}


.the-greatest-show .button {
    display: flex;
    background-color: red;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    margin: 10 0;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    text-align: center;
    cursor: progress;
}

/*-----------------------------
  Bonner-box-decoration- End
  ------------------------------*/


/***************************************
   Upcoming-match,group and Blog- Srart 
   **************************************/

.up-coming-father-div {
    margin-top: 80px;
    justify-content: center;

    display: flex;
    flex-direction: column;
    background-color: navy;
    height: 200px;
    width: 220px;
    margin-left: 80px;
    border-radius: 10px;
}

.Upcoming-match {
    background-color: aliceblue;
    text-decoration: none;
    height: 40px;
    width: 180px;
    margin-left: 9%;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 1 5;
    text-align: center;

}


.group {
    background-color: aliceblue;
    text-decoration: none;
    height: 40px;
    width: 180px;
    margin-left: 9%;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 1 5;
    text-align: center;

}

.blog {
    background-color: rgb(204, 26, 26);
    height: 40px;
    width: 180px;
    margin-left: 9%;
    margin-top: 10px;
    text-align: center;
    border-radius: 8px;


}

/*
***********************************
 Upcoming-match,group and Blog-END
 *********************************/

.six-box-section {
    display: flex;
    margin-left: 200px;
}

.six-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 80px;
    height: auto;
    width: 400px;
}


.six {
    border: 1px solid grey;
    height: 350px;
    border-radius: 10px;
    padding: 10px;
}

.six .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}