body {
    font-family: 'Poppins', sans-serif;
}

.the-greatest-show {
    display: flex;
    background-color: navy;
    box-sizing: 50%;
    color: white;
    text-align: justify;

    width: 750px;
    height: 350px;
    margin-top: 30px;
    margin-left: 450px;
    padding: 15px 50px;
    border-radius: 25px;
    cursor: pointer;
}

.the-greatest-show p {
    margin-right: 40px;

}

.the-greatest-show img {
    width: 347px;
}


.the-greatest-show span {
    background-color: red;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    margin: 0 auto;

}